{{ define "cabezera.html" }}
     <!-- Encabezado --> 
          <nav class="nav_fondo">
            <div class="nav_logoSIT">
                <a href="./" class="logoSIT"><img src="./public/assets/img/logoSIT_letras.png" alt="Logo SIT Chaco"></a>
            </div>
            <div class="nav_enlaces"  id="nav-enlaces">
                <li><a href="./geoservicios">Geoservicios</a></li>
                <li>
                <a href="https://drive.google.com/drive/folders/1nvQRO2ZYvCCMpy1wkuz8aNFLzuPalbcY?usp=sharing" target="_blank">
                Documentos
                </a>
                </li>
                <li><a href="./contacto">Contacto</a></li> 
            </div>
            <div class="nav_logomin">
                <a href="https://chaco.gob.ar/" class="logoMPyDES"><img src="./public/assets/img/Isologotipo_Gobierno.png" alt="Logo MPyDES Chaco"></a>    
            </div>
            <div class="menu-toggle" id="menu-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
      </nav>
{{ end }}