<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SIT Chaco - Sistema de Información Territorial</title>
        <link rel="icon" type="image/svg+xml" href="./public/assets/img/logo_icono.png">
        <meta content="Sistema de información territorial de la provincia del Chaco, herramienta de visualización, consulta y descarga de datos georreferenciados" name="description">
        <meta content="geoportal, datos, georreferencia, visualizador, Chaco, SIT, Sistemas de informacion territorial, gis, sig" name="keywords">

        <!-- Estilos -->
        <link rel="stylesheet" href="./public/css/style.css">
    </head>

<body>

    {{ template "cabezera.html" }}
      
      <!-- Principal --> 
        <section class="contenedorppal">
            <div class="cont_izq">
                <img src="./public/assets/img/personasSIT.png" alt="">
                <h2>¿Qué es SIT?</h2>
                <p>Herramienta para la <b>gestión y visualización
                de datos georreferenciados</b> vinculados a
                proyectos y obras de la provincia del Chaco</p>
                <a class="boton_masinfo" href="./sit">Más información</a>
            </div>
            <div class="cont_der">
                <h1>Direcciones - Subsecretaría de Desarrollo Territorial</h1>
                <div class="cont_tarjetas">
                    <div class="tarjeta_home">
                        <a href="./territorial"><img src="./public/assets/iconos/planificacion.png" alt=""></a>
                        <h3>Planificación<br>territorial</h3>
                        <p>Planificación, proyectos y herramientas de Gestión | Departamento SIT</p>
                    </div>
                    <div class="tarjeta_home">
                        <a href="./urbana"><img src="./public/assets/iconos/gestiondetierras.png" alt=""></a>
                        <h3>Planificación<br>urbana</h3>
                        <p>Proyectos de Ordenamiento Urbano | Abordaje territorial | RUBH</p>
                    </div>
                    <div class="tarjeta_home">
                        <a href="./habitat"><img src="./public/assets/iconos/ambiente.png" alt=""></a>
                        <h3>Gestión integral<br>del habitat</h3>
                        <p>Mejoramiento del habitat y saneamiento ambiental | Ejecución de proyectos urbanisticos </p>
                    </div>
                    <div class="tarjeta_home">
                        <a href="./mapa_base"><img src="./public/assets/img/logoSIT_Azul.png" alt=""></a>
                        <h3>Mapas Base</h3>
                        <p>Informacion geografica de interes para el desarrollo territorial y ambiental</p>
                    </div>

                </div>
            </div>
        </section>

        <section class="bannerPUI">
            <a target="_blank" href="https://drive.google.com/drive/folders/15ik_Mhl4xfiiRp0uxlHo6Y2l9xsP7RGG?usp=drive_link"><button class="botPlanes">Ver planes</button></a>
            <div class="logosBanner">
                <img src="./public/assets/img/logosBanner.png" alt="">
            </div>
        </section>

   {{ template "pie.html" }}

    <script>
        const toggle = document.getElementById('menu-toggle');
        const enlaces = document.getElementById('nav-enlaces');
    
        toggle.addEventListener('click', (e) => {
            e.stopPropagation();
            enlaces.classList.toggle('active');
        });
    
        document.addEventListener('click', (e) => {
            if (!enlaces.contains(e.target) && !toggle.contains(e.target)) {
                enlaces.classList.remove('active');
            }
        });
    </script>

</body>